.container{
    max-width: 100vw;
    min-height: 75px;
    background-color: springgreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h2{
        cursor: pointer;
        font-size: 33px;
    }
    ul{
        display: flex;
        cursor: pointer;
        gap: 20px;
        font-size: 22px;
    }
}

  :root{

    --main-nav-color:rgb(83, 10, 71);
  }
  .dark{

    --main-nav-color:greenyellow;
  }
  nav{
    background-color: var(--main-nav-color);
  }